body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 40px;
}

nav {
  text-align: center;
  background: #222;
  padding: 10px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

section {
  padding: 40px;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  background: #ddd;
  padding: 40px;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;
}

input, select, textarea {
  padding: 10px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
